body{
    width: 100%;
    box-sizing: border-box;
}
.container{
    display: flex;
}
.background{ 
    background: linear-gradient(to bottom right, #e1eec3,#f05053);
    table-layout: fixed;
    border-spacing: 0;
  

}

.background td{ 
    padding: 0;;
                 
}

.lava{ 
    background:linear-gradient(#ee0979,#ff6a00);
}

.wall{ 
    background: linear-gradient(#6190E8,#A7BFE8);             
}

.actor{ 
    position: absolute;            
}

.coin{ 
    background: linear-gradient(to bottom right, #F7971E, #FFD200);
}

.player{ 
    background: linear-gradient(to bottom right, #F7971E, #FFD200);
}

.lost .player{
    background: rgb(255, 0, 0);
}

.won .player{
    box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game{
    overflow: hidden;
    max-width: 750px;
    max-height: 600px;
    position: relative;
}

header{
    width: 100%;
    font-family:  'IM Fell English SC', serif;
    background-color: #6190E8;
    color: white;
    font-size: 1.7em;
    padding-bottom: 0%;
    padding-left: 5%; 
    text-align: center; 
}

p {
    font-family: 'IM Fell English SC', serif;
}

span {
    margin-left: 14%;
    font-size: 20px; 
    font-family: 'IM Fell English SC', serif;
}

#info{
    background: #6190E8;
    font-family: 'IM Fell English SC', serif;
    color: white;
    font-size: 23px;

}

button{
    height: 40px;
    font-size: 20px;
    font-family: 'IM Fell English SC', serif;
}





